* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 20px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 25px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces, #tray, #clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #cpu, #memory {
  border-radius: 10px;
  background-color: rgba(30, 30, 46, 0.5); /* Adjust the last value (0.8) for desired transparency */
  color: #cdd6f4;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#custom-arch {
  font-size: 20px;
  margin-left: 15px;
  color: #fab387;
}

#workspaces {
  color: #fab387;
  margin-right: 25px;
  padding-right: 20px;
}

#workspaces button {
  background: transparent;
  color: #fab387;
}

#backlight, #bluetooth {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 5px;
  margin-right: 0;
}

#pulseaudio {
  margin-right: 15px;
  margin-left: 15px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

